.App {     
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;  /* Full viewport height */
  width: 100vw;   /* Full viewport width */
  background-color: #eaeef3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrollbars */
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eaeef3;
}

* {
  box-sizing: border-box;
}